:root{
    /*font-families*/
    --font-title: 'Lemon';/* cursive;*/
    --font-text: 'Times New Roman', Times, bold;
    --font-handwriting: 'Liu Jian Mao Cao'; /* handwriting;*/

    /* Font Sizes 1rem ? 16px*/
    --fs-title: 3rem;
    --fs-text: 1.5rem;
    --fw-text: 600; /* bold */
    --fs-handwriting: 1rem;

    --fs-title-small: 2.6rem;
    --fs-text-small: 1.3rem;
    --fw-text-small: 600; /* bold */
    --fs-handwriting-small: 1rem;



    /* Special Effects
    --stroke-thin: 0.1px; */

    /* Colors */
    --font-color: #323131;  
    --background-color: #fbfaf2;
    --green: #868656;
    --light-green: #DBDBB6;
    --red: #5C2B2B;
    --blue: #2B495C;

    /* Spacing */
    --page-padding: clamp(1.25rem, 5vw, 2rem);
    --img-overlap: clamp(1.25rem, 5vw, 3rem);
    --overlap: clamp(24px, 8vw, 120px);


    /*images*/
    --img-h: clamp(250px, 60vw, 450px); /* image width */
    --img-r: 3/4; /* image aspect ratio */
    --img-border: 8px;
    --stage-overlap: calc((var(--fs-title) * 0.65));
    }

     *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        /*background-color: var(--background-color);*/
        font-family: var(--font-text);
        font-weight: var(--fw-text);
        font-size: var(--fs-text);
        color: var(--font-color);
        overflow-x: hidden; /*clip: verhindert horizontales scrollen, wenn Elemente über die Seite hinausragen*/
        width: 100%;
        background-color: var(--background-color);
    }

    

    .typo-title {
        font-family: var(--font-title);
        font-size: var(--fs-title);
        text-align: start;
        /*background-color: lightcoral;*/
        width: 55vw;
        align-self: flex-end;
    }

    .title-smaller{
        font-size: calc(var(--fs-title));
    }

    .typo-title-start{
        align-self: flex-start;
        padding-left: var(--page-padding);
    }

    .typo-title-mid{
        font-family: var(--font-title);
        font-size: var(--fs-title);
        /*background-color: lightcoral;*/
        align-self: center;

    }

    .typo-title-smaller{
        font-size: calc(var(--fs-title)*0.9);
    }

    .typo-text{
        /*background-color: #807f7f;*/
        width: 50vw;
        text-align: end;
    }

    .text-inline{
        /*background-color: #7f8080;*/
        align-self: center;
    }


    .typo-text-end{
        width: 50vw;
        /*background-color: #b87777;*/
        align-self: flex-end;
        text-align: start;
    }


    .typo-text-mid{
        text-align: center;
        /*background-color: #868656;*/
    }
    .typo-handwriting {
        font-family: var(--font-handwriting);
        font-size: var(--fs-handwriting);
        -webkit-text-stroke: var(--stroke-thin) currentColor;
    }


    /*-------img-----*/
    .card {
        /*background-color: turquoise;*/
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    .card-row{
        /*background-color: turquoise;*/
        width: fit-content;
        display: flex;
        flex-direction: row;
    }

    .card-row img{
        height: var(--img-h);
        object-fit: contain;
        display: block;
        border-radius: var(--img-border);
        /*background-color: lightpink;*/
    }

    .card img {
        height: var(--img-h);
        object-fit: contain;
        display: block;
        border-radius: var(--img-border);
        /*background-color: lightpink;*/
    }

    .aspect-ratio-3-4{
        aspect-ratio: 3/4;
    }

    .aspect-ratio-4-3{
        aspect-ratio: 4/3;
    }

    .horizontal img{
        height: calc(var(--img-h)*0.8);
    }

    .card p {
        /*background-color: lightslategrey;*/
        margin-top: 0.75rem;
        align-self: center;
    }

    .card-end p{
        /*background-color: #F3F3F3;*/
        align-self: end;
        margin-right: -10px;
    }

    .sticker{
        position: absolute;
        z-index: 40;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .sticker img{
        height: calc((var(--img-h))*1/2);
        display: block;
    }

    .letter{
        display: inline-flex;
        /*background-color: #e6e61f;*/
        vertical-align: middle;
    }

    .letter img{
        height: calc(var(--fs-handwriting)*1.2);
        padding-right: 2px;

    }

    .letter-container{
        width: fit-content;
        height: auto;
        /*background-color: #e6e61f;*/
        margin-bottom: 0;

    }


    .food img{
        /*background-color: antiquewhite;*/
        height: calc(var(--img-h)*0.2);
    }

    #soup{
    transform: translateX(calc(50vw + (var(--img-h) * 0.5)));

    }

    #noodle1{
    transform: translateX(32vw);
    top: calc(var(--img-h) - (var(--overlap) * 2));
    }

    #noodle2{
        transform: translateX(55vw);
        top: calc((var(--img-h)*2) - (var(--overlap)*3));
    }

    #pizza{
        transform: translateX(25vw);
        top: calc((var(--img-h)*3) - (var(--overlap)*4.4));
    }

    #sushi{
        transform: translateX(50vw);
        top: calc((var(--img-h)*4) - (var(--overlap)*4.5));
    }


    .arrow-text{
        position:absolute;
        display: flex;
        flex-direction: column;
        z-index: 10;
        /*transform: translate(-50%, -50%);*/
        /*background-color: #b87777;*/
    }

    /*-----------text-show------------*/
    .autoShow { 
        will-change: transform, opacity; 
    }
    
    .autoSow{
        animation: autoShowAnimation both;
        animation-timeline: view(70% 5%);
    }

    @keyframes autoShowAnimation{
        from{
            opacity: 0;
            background-color: #5C2B2B;
            transform: translateY(200px) scale(1);
        }
        to{
            opacity: 1;
            background-color: #5C2B2B;
            transform: translateY(0) scale(1);
        }
    }

    /*-----------loader-section-------*/
    /* Loader Overlay */
    #loader {
        position: fixed;
        inset: 0;
        background-color: #4E5F83;
        z-index: 9999;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loader-inner{
        /*background-color: #5c472b;*/
        text-align: center
    }

    /* Optional: leichter Fade-in fürs GIF beim Start */
    #loader-gif {
    display: block;
    max-width: min(70vw, 420px);
    height: auto;
    }

    /* Seite am Anfang verstecken */
    #page {
    opacity: 0;
    }

    /* Seite am Anfang unsichtbar */
    #main-container {
    opacity: 0;
    height: fit-content;
    }

    /*------header-section---------*/
    .header-section{
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-container{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        width: fit-content;
    }

    .header-container p{
        position: absolute;
        font-family: var(--font-handwriting);
        font-size: calc(var(--fs-text)*2);
        color: var(--green);
        /*background-color: limegreen;*/
        z-index: 200;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header h1{
        font-family: var(--font-title);
        font-size: calc(var(--fs-title)*2.4);
        white-space: nowrap;
        z-index: 100;
        color: var(--red);
        line-height: 0.8;      /* <- macht den Kasten “tight” */
        display: inline-block; /* <- damit die Box sauber am Text hängt */
    }

    .header{
        position: relative;
        display: flex;
        flex-direction: row;
        height: min-content;
    }

    #left-header{
        transform:translateX(-28%);
    } 

    #right-header{
        transform:translateX(28%);
    } 

    .sticker-header {
    position: absolute;
    z-index: 40;
    width: 120px;
    transform-origin: center center;
    cursor: pointer;
    user-select: none;
    }

    #elena-balaklava{
        /*animation: wobble-elena 3.5s linear infinite;*/
        align-self: start;
        left: 0;           /* an linke Kante vom right-header */
        top: 0;
        transform: translate(-100%, -0%);
    }

    #lukas-balaklava{
        /*animation: wobble-lukas 3.8s linear infinite;*/
        z-index: 110;
        align-self: end;
        right: 0;          /* an rechte Kante vom left-header */
        bottom: 0;            /* je nach Wunsch: z.B. oben am Text */
        transform: translate(100%, 0%); 
        
    }

    #elena-balaklava img{
        width: 100%;
        animation: wobble-elena 3.5s linear infinite;
        pointer-events: none;
    }

    #lukas-balaklava img{
        width: 100%;
        animation: wobble-lukas 3.5s linear infinite;
        pointer-events: none;
    }

    @keyframes wobble-lukas {
    0%   { transform: rotate(0deg) translateY(0); }
    20%  { transform: rotate(2deg) translateY(-2px); }
    40%  { transform: rotate(-2.5deg) translateY(1px); }
    60%  { transform: rotate(1.5deg) translateY(-1px); }
    80%  { transform: rotate(-1deg) translateY(0); }
    100% { transform: rotate(0deg) translateY(0); }
    }

    @keyframes wobble-elena {
    0%   { transform: rotate(0deg) translateY(0); }
    20%  { transform: rotate(-2deg) translateY(2px); }
    40%  { transform: rotate(2.5deg) translateY(-1px); }
    60%  { transform: rotate(-1.5deg) translateY(1px); }
    80%  { transform: rotate(1deg) translateY(0); }
    100% { transform: rotate(0deg) translateY(0); }
    }

    /*_______________*/
    /* Scroll Indicator */
    /* Scroll Indicator */
    .scroll-indicator{
        position: absolute;
        bottom: 50px;
        display: flex;
        flex-direction: column;
        background-color: var(--green);
    }

    .scroll-indicator-line{
    width: 1px;
    height: 60px;
    overflow: hidden;
    position: relative;
    color: var(--light-green);
    }

    .scroll-indicator-line span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: currentColor;

    transform-origin: top;
    opacity: 0;

    animation: scrollLine 2.6s ease-in-out infinite;
    }

    @keyframes scrollLine{
    /* unsichtbar */
    0%{
        transform: scaleY(0) translateY(0);
        opacity: 0;
    }

    /* Linie erscheint */
    10%{
        opacity: 1;
    }

    /* wächst von oben nach unten */
    30%{
        transform: scaleY(1) translateY(0);
        opacity: 1;
    }

    /* bleibt kurz stehen */
    55%{
        transform: scaleY(1) translateY(0);
        opacity: 1;
    }

    /* wandert nach unten raus */
    85%{
        transform: scaleY(1) translateY(100%);
        opacity: 0;
    }

    /* reset */
    100%{
        transform: scaleY(0) translateY(0);
        opacity: 0;
    }
    }

    /*------scroll-section---------*/

    .scroll-section {
        width: 100%;
        height: max-content;
        overflow: visible;
        position: relative; /* statt fixed */
        /*background-color: lightblue;*/
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        padding-inline: var(--page-padding);
    }

    .scroll-container {
        display: flex;
        justify-self: start;
        align-items: flex-start;
        width: 100%;
        /*margin-top: 20vh;*/
        gap: 1rem;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-behavior: smooth;
        /*background-color: rgb(156, 156, 119);*/
        touch-action: pan-x;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        justify-content: flex-start; /* default: links starten */
    }

        /* Wenn alles reinpasst -> zentrieren */
    .scroll-container.is-centered{
    justify-content: center;
    }

    #text-end{
        width: 55vw;
    }

    .scroll-container::-webkit-scrollbar {
        display: none;
    }

    .scroll-container{
    scroll-snap-type: x mandatory;
    }

    .card{
    scroll-snap-align: start;
    }

    


    /*------stage-section-wien--------*/

    .stage-section{
        /*background-color: lightgreen;*/
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        padding-inline: var(--page-padding);

    }

    .stage-container{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*background-color: lightgrey;*/
        justify-content: center;
        margin-top: calc((var(--stage-overlap) + calc(var(--fs-text) * 1)) * -1);
        overflow: visible; /*damit children auch drüber laufen können über die grenzen*/
    }



    /*braucht man eigentlich nicht*/
    .stage-container-battle{
        margin-top: calc((var(--stage-overlap)) * -1);
    }

    #pickle{
        position: relative;
        z-index: 10;
        margin-inline:auto;
        width: fit-content;
        /*background-color: lime;*/
    }

    #pickle-text{
        z-index: 20;
    }

    #pickle img{
        height: var(--img-h);
        display: block;
    }

    .img-stage{
        position: relative;
        /*background-color: peru;*/
        margin-inline: auto;
    }

    .heart{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        stroke-width: var(--fs-handwriting);
        height: auto;
        z-index: 11;

    }

    .pickle-elena{
        align-items: flex-end;
        top: calc((var(--img-h))*0.4);
        right: calc(50vw - (((var(--img-h))) * 0.65));
    }

    .pickle-elena img{
        height: 45px;
        /*background-color: violet;*/
    }

    .pickle-lukas{
        align-items: flex-start;
        top: calc((var(--img-h))*0.3);
        left: calc(50vw - (var(--img-h) * 0.70));
    }

    .pickle-lukas img{
        width: 50px;
        /*background-color: violet;*/
    }

    .pickle-maxl{
        /*background-color: wheat;*/
        align-items: flex-end;
        top: calc((var(--img-h))*1.5);
        transform: translate(-50%, -50%);
        right: calc(50vw - (((var(--img-h))) * 0.5));
    }

    .pickle-maxl img{
        width: 50px;
        /*background-color: violet;*/
    }

    .baron-david{
        align-items: flex-start;
        bottom: calc(var(--img-h)*0.65);
        /*background-color: #868656;*/
        left: calc(var(--img-h)*0.42);
        bottom: calc((var(--img-h))*0.3)
    }
 

    .teddy img{
        height: calc((var(--img-h))*0.1);
    }

    /*-----grid-section-----*/
    .grid-section-container{
        /*background-color: lightyellow;*/
        display:grid;
        grid-template-columns: [c1] 1fr [c2] calc(var(--img-overlap)*2) [c3] 1fr;
        grid-auto-flow: row;
        position: relative;
        /*padding-bottom: 24px;*/
    }

    .overlap{
        margin-top: calc(var(--overlap) * -1);

    }

    .half-overlap{
        margin-top: calc(var(--overlap) * -0.5);
    }

    .no-overlap{
        margin-top: 0;
    }

    .right-img{
        grid-column: 2/4; /* Spalte 1+2 */
        z-index: 1;
        justify-self: start;
    }

    .left-img{
        grid-column: 1 / 3; /* Spalte 1+2 */
        z-index: 2;
        justify-self: end;
    }

    .right-text{
        grid-column: 3;
        align-self: end;
        justify-self: start;
        margin-left: 1rem;
    }

    .right-text-top{
        grid-column: 3;
        align-self: start;
        justify-self: start;
        margin-left: 1rem;
    }

    .left-text{
        grid-column: 1;
        align-self: start;
        justify-self: end;
        margin-right: 1rem;
    }

    .left-text-bottom{
        grid-column: 1;
        align-self: end;
        justify-self: end;
        margin-right: 1rem;
    }

    .side-text{ /*falsch position*/
        /*background-color: #5C2B2B;*/
        position: relative;
        padding-left: 0.5rem;
        padding-top: calc(((var(--img-h))*1/2)*0.55);
        writing-mode: vertical-lr;
        white-space: nowrap; /* Verhindert Zeilenumbruch */
        transform: rotate(180deg); /*textfluss richtung ändern*/
        z-index:30;
        color: var(--red)
    }

    .text-short{
        display: none
    }



    #luuk{
        top: calc((var(--img-h))*0.9);
        left: calc((var(--img-h))*0.48);
        left: calc((var(--img-h))*0.5);
        transform: translate(-50%, -50%);
        grid-column: 3;
        z-index: 100;
    }

    #luuk img{
        animation: wobble-elena 3.5s linear infinite;
    }

    .spruch{
        /*background-color: #5C2B2B;*/
        align-self: end;
        width: 70vw;
        text-align: start;
    }




    /*-------slider-section---------*/

    .slider-section{
        /*background-color: #868656;*/
       width: 100%;
        height: max-content;
        overflow: hidden;
        position: relative; /* statt fixed */
        /*background-color: lightblue;*/
        display: flex;
        flex-direction: column;
        z-index: 50;              /* höher als andere */
        /*isolation: isolate;  */ 

        /*background-color: rgb(167, 167, 67);*/
     }

    #pano-bild p{
        justify-self: start;
        /*background-color: #DBDBB6;*/
    }

    #slider-text{
        white-space: nowrap;
        display: block;
        color: var(--green);
    }

    #pano-bild{
    width: fit-content;  /* bleibt wie Bild */
    }

    .slider-track{
        display: flex;
        justify-self: start;
        align-items: flex-start;
        width: fit-content;
        /*background-color: aqua;*/
        
    }
    /*-------stage-section-kastenlauf--------*/

    .battle{
        position: relative;
        display: flex;
        flex-direction: column;
        /*background-color: aquamarine;*/
        width: fit-content;
        overflow: visible;
    }

    .team{
        position: relative;
        /*background-color: #868656;*/
        display: flex;

    }

    .team-right{
        align-self: flex-end;    
    }

    .team-left{
        align-self: flex-start;
    }

    .team img{
        height: calc(var(--img-h)*0.45);
        display: block;
    }

    #david{
        position: relative;
        transform: translateX(calc(var(--img-h)*(-0.4)));
        
    }

    #david img{
        height: calc((var(--img-h))*0.8);
        animation: wobble-elena 3.5s linear infinite;
    }


    .teddy{
        left:calc((var(--img-h)*3/4)*0.95);
        bottom: 0
    }
    /*------stage-section-oktoberfest-----*/

    #arrow img{
        height: calc((var(--img-h))*1/6);
    }

    #arrow-lukas{
        position:absolute;
        top: calc(var(--img-h)* 0.2);
        left: calc((var(--img-h)*4/3)*0.32);
        animation-iteration-count: infinite;
        animation-name: twinkle;
        animation-duration: 2s;
    }

    #arrow-elena{
        position:absolute;
        top: calc(var(--img-h)* 0.24);
        left: calc((var(--img-h)*4/3)*0.45);
        animation-name: twinkle;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }

    @keyframes twinkle{
        20% {
            transform: scale(0.5);
            opacity: 0.5;
        }
        80%{
            transform: scale(1);
            opacity: 1;
        }
    }

    /*---------scroll-section-entdecken-------*/

    #snus{
    position: fixed;        /* <- statt absolute */
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    will-change: transform;
    }

    /* optional: Bildgröße sauber über das img steuern */
    #snus img{
    width: 120px;           /* deine gewünschte Größe */
    height: auto;
    display: block;
    }

    /*----------stage-section-denkblase-----*/

    #denkblase-groß{
        /*background-color: #b87777;*/
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        align-self: flex-end;
        align-items: center;
        justify-items: center;
        z-index: 30;

    }
    .denkblase{
        /*background-color: #5C2B2B;*/
        width: calc((var(--img-h))*3/4);
        stroke-width: var(--fs-handwriting);
        position: relative;
        right: -1rem; 
        z-index: 11;
        grid-column: 1;
        grid-row: 1;
    }

    #denkblase-img{
        position:relative;
        grid-column: 1;
        grid-row: 1;
        right: -1rem; 
        width:calc((var(--img-h))*0.3);
        bottom: 18%;
        opacity: 0;
        scale: 0.95;      /* kleiner “pop” Effekt */
        pointer-events: none;
        /*background-color: #868656;*/
    }

    .img-lukas-denker{
        position: relative;
        top: -1rem;
        left: -1rem;
        transform: scaleX(-1);
        /*background-color: #DBDBB6;*/
    }

    /*------broken heart--------------*/
    #click{
        position: absolute;
        bottom: 1rem;
        transform: translateX(calc((var(--img-h)*3/4)*0.5));
        color: var(--font-color)
    }

    /*---------orbit-control----------*/
        
    .orbit-frame{
    position: relative;
    height: calc(var(--img-h)*0.8);
    /*background: rgba(232, 84, 21, 0.35);*/
    }

    /* Text-Button */
    .orbit-toggle-button{
    position: absolute;
    inset: 0;
    border: 1px solid var(--green);
    border-radius: var(--img-border);
    cursor: pointer;
    z-index: 300;
    color: var(--font-color);
    background-color: #75757525; /* 80 ist 50% transparent*/
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); 
    }

    /* Preview-Canvas Container */
    #orbit-control-container{
    height: 100%;
    background-color: var(--background-color);
    position: relative;
    overflow: hidden;
    border: 1px solid var(--green);
    border-radius: var(--img-border);
    /* verhindert, dass Mobile-Scroll die Seite bewegt */
    touch-action: none;
    /*overscroll-behavior: contain;*/
    }

    #orbit-control-container canvas{
    display: block;
    width: 100%;
    height: 100%;
    }

    /* ------- Fullscreen Mode (über Klasse am body) ------- */

    /* alles außer dem 3D Frame ausblenden */
    body.orbit-fullscreen main > *:not(.orbit-fullscreen-host){
    display: none !important;
    }

    /* wir hängen den Frame in einen "Host" (siehe JS), damit er alleine im main steht */
    .orbit-fullscreen-host{
    display: block;
    }

    
    /* Frame nimmt dann wirklich den ganzen Screen */
    body.orbit-fullscreen .orbit-frame{
    position: fixed;
    width: 100vw;
    height: 100vh;
    }

    /* Canvas-Bereich füllt dann den restlichen Platz unter der Topbar */
    body.orbit-fullscreen #orbit-control-container{
    position: relative;
    aspect-ratio: auto;
    }

    body.orbit-fullscreen .orbit-toggle-button{
    position: absolute;
    inset: auto;           /* wichtig: löst das Vollflächen-Overlay */
    padding-inline: 1rem;
    padding-block: 0.5rem;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 300;

    }
    /*------------bottom-pinguin---------*/
    #penguin{
        align-self: center;
        bottom: env(safe-area-inset-bottom);
        margin-top: auto;
        position: relative;
    }

    #penguin2{ 
        position: sticky;
        bottom: env(safe-area-inset-bottom);
        display: flex;
        justify-content: center;
    }

    #penguin img{
        height: calc((var(--img-h))*0.3);
        display: block;
    }

    /*------------balloons--------------*/
    #downloadBtn{
        padding-top: 0.5rem;
        stroke: 0px;
        color: var(--font-color);
        align-self: center;
        text-decoration: none;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s ease, transform 0.4s eas
    }
    #downloadBtn:hover,
    #downloadBtn:active{
        text-decoration: underline;
        color: var(--red);
    }

    #downloadtn{
        background-color: #4E5F83;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        width: fit-content;
        min-width: 100px;
        align-self: center;
        text-decoration: none;
    }

    #balloon-layer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;           /* wir spawnen am unteren Rand */
    pointer-events: none;
    z-index: 9999;       /* über allem */
    }

    /* ein “Ballon”-Bild */
    .balloon{
    position: absolute;
    bottom: -80px;       /* startet leicht unterhalb */
    width: clamp(40px, 8vw, 110px);
    height: auto;
    opacity: 0;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.18));
    will-change: transform, opacity;
    }
    
    /*----------------------------------*/
    .overflow{
        overflow: visible;
    }

    .padding-bottom-caption{
        padding-bottom: 0.5rem;
    }

    .padding-bottom{
        padding-bottom: 1rem;
    }

    .no-padding-bottom{
        padding-bottom: 0rem;
    }

    .padding-left{
        padding-left: var(--page-padding);
    }

    .padding-right{
        padding-right: var(--page-padding);
    }

    /*------------------------*/
    @media screen and (min-width: 575.98px){
        #soup{
        transform: translateX(calc(50vw + var(--img-h)*0.5));
        top: calc((var(--overlap) * 0.5));
        }
        #noodle1{
        top: calc(var(--img-h) - (var(--overlap) * 1.5));
        }
        #noodle2{
        transform: translateX(55vw);
        top: calc((var(--img-h)*2) - (var(--overlap)*2.5));
        }
        #pizza{
        transform: translateX(35vw);
        top: calc((var(--img-h)*3) - (var(--overlap)*4));
        }
        #sushi{
        transform: translateX(50vw);
        top: calc((var(--img-h)*4) - (var(--overlap)*4));
        }
        .pickle-elena{
        right: calc(50vw - (((var(--img-h))) * (0.55)));       
        }
        .pickle-lukas{
            left: calc(50vw - (var(--img-h) * 0.55));
        }
        .spruch {
        width: 50vw;
        }
        .text-mid-end{
            width: 40vw;
        }

    }

    @media (max-width: 575.98px){
        .typo-text{
            width: 100vw;
            text-align: start;
            /*padding-left: var(--page-padding);*/
        }
        .typo-title{
            width: 100vw;
            text-align: end;
            font-size: var(--fs-title-small);
            /*padding-right: var(--page-padding);*/
        }
        .typo-handwriting{
            font-size: var(--fs-handwriting-small);
        }
        .text-inline{
            align-self: flex-start;
            /*padding-left: var(--page-padding);*/
        }
        .typo-text-end{
            text-align: end;
            /*padding-right: var(--page-padding);*/
        }
        #text-mid-start{
            width: 100vw;
            text-align: start;
        }
        .text-long {
        display: none;
        }

        .text-short {
            display: inline;
        }
        
        body{
            font-size: var(--fs-text-small);
        }
     }