:root {
    /*font-families*/
    --font-title: 'Lemon';/* cursive;*/
    --font-text: 'Times New Roman', Times, bold;
    --font-handwriting: 'Liu Jian Mao Cao'; /* handwriting;*/
    
    /* Font Sizes 1rem ? 16px*/
    --fs-title: 3rem;
    --fs-text: 1.5rem;
    --fw-text: 600; /* bold */
    --fs-handwriting: 1rem;

    /* Special Effects
    --stroke-thin: 0.1px; */

    /* Colors */
    --font-color: #323131;  
    --background-color: #F3F3F3;
    --green: #868656;
    --light-green: #DBDBB6;
    --red: #5C2B2B;
    --blue: #2B495C;

    /* Spacing */
    --page-padding: clamp(1.25rem, 5vw, 2rem);
}

main {
    padding-inline: var(--page-padding);
}

body {
    background-color: var(--background-color);
    margin: 0;
    /*width: 100vw; ??*/
    font-family: var(--font-text);
    font-weight: var(--fw-text);
    font-size: var(--fs-text);
    color: var(--font-color);
}

.typo-title {
    font-family: var(--font-title);
    font-size: var(--fs-title);
    text-align: center;

}
.typo-text-end{
    text-align: end;
}
.typo-handwriting {
    font-family: var(--font-handwriting);
    font-size: var(--fs-handwriting);
    -webkit-text-stroke: var(--stroke-thin) currentColor;
}

.picture-slider-container{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 1rem;
}

.picture-caption-container{
    background-color: #9A9898;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}