body {
  margin: 0;
  overflow-x: hidden; /* verhindert Scrollen */
}

.container{
  width: 100vw;
  height: 200vh;
  background-color: aqua;
}

.container2{
  width: 100vw;
  height: 150vh;
  background-color: blue;
}

#flyImg {
  position: fixed;
  width: 120px; /* oder auto */
  top: 50vh;
  left: 0;
  transform: translateY(-50%);
}